@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply
            text-5xl
            font-bold
        ;
    }
    h2 {
        @apply
            text-2xl 
            font-bold
        ;
    }
}

@layer components {
    .nav-itens {
        @apply 
            text-center 
            text-[#121619C0] 
            hover:text-locamar-white
            hover:bg-gray-600
            lg:hover:bg-transparent 
            font-bold 
            lg:my-1 lg:mx-5
            px-4 py-2
            lg:w-0
            lg:p-0
            lg:text-xl
        ;
    }

    .container {
        @apply
            p-5
            m-2
            max-w-screen-xl
        ;
    }

    .missao-card {
        @apply
            text-center 
            flex 
            flex-col 
            items-center
        ;
    }

    .container-card {
        @apply
            bg-locamar-white 
            rounded-lg 
            p-2
            flex
            items-center
            gap-2
            hover:scale-105
            cursor-pointer
        ;
    }
}
