@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply
            text-4xl
            font-bold
        ;
    }
    h2 {
        @apply
            text-2xl 
            font-bold
        ;
    }
}

@layer components {
    .nav-dropdown {
        @apply 
            absolute 
            lg:relative 
            flex flex-col 
            lg:flex-row 
            shadow-lg 
            lg:shadow-none 
            shadow-gray-500 
            bg-locamar-white 
            min-w-[200px] 
            lg:bg-locamar-primary 
            -translate-x-[80%]
            translate-y-3
            lg:translate-x-0 
            lg:translate-y-0
            rounded-md 
        ;
    }

    .nav-itens {
        @apply 
            px-4 py-2
            lg:w-0
            lg:p-0
            lg:my-1 lg:mx-5
            lg:text-lg
            text-center 
            font-bold 
            hover:bg-gray-600
            lg:hover:bg-transparent 
            text-[#121619C0] 
            hover:text-locamar-white
            first:rounded-t-md 
            last:rounded-b-md
        ;
    }

    .container {
        @apply
            p-5
            m-2
            max-w-screen-xl
        ;
    }

    .missao-card {
        @apply
            text-center 
            flex 
            flex-col 
            items-center
        ;
    }

    .container-card {
        @apply
            bg-locamar-white
            max-w-[540px] 
            lg:w-auto
            rounded-lg 
            p-2
            flex
            items-center
            gap-2
            hover:scale-105
            cursor-pointer
        ;
    }

    .main-input {
        @apply
            bg-locamar-white 
            block 
            px-2 
            py-1 
            mt-1 
            w-full 
            rounded 
            border 
            border-locamar-black
        ;
    }

    .form-button {
        @apply
            bg-locamar-secundary 
            py-1 
            px-2 
            mt-4 
            rounded-lg 
            font-bold 
            text-locamar-white 
            shadow 
            shadow-gray-500 
            hover:shadow-gray-600
        ;
    }

    .quadro-informacoes {
        @apply
            text-center
            sm:text-left
            lg:odd:text-right
            flex 
            lg:odd:flex-row-reverse 
            md:max-w-[600px] 
            lg:max-w-none 
            lg:odd:mr-[46%] 
            lg:even:ml-[46%] 
            justify-center 
            items-center 
            gap-2
            sm:gap-5
        ;
    }
}
